.list-item-wrapper {
  width: 100%;
  //border-top: 1px solid #eee;
  //border-top: 1px solid grey;
  padding-bottom: 10px;

  &:first-child {
    border-top: none;
  }

  h3 {
    //background: #cccccc;
    margin: 0 0 5px 5px;
  }

  .posible_answer {
    border-bottom: 1px solid #d9eaf3;
    //display: flex;
    //justify-content: center;
    .pos_an {
      border: 1px solid transparent;
      padding: 0 15px;
      margin: 5px;
      cursor: pointer;
    }
    .pos_an_view_only {
      border: 1px solid transparent;
      padding: 0 15px;
      margin: 5px;
    }

    .selected {
      //border: 1px solid grey;
      //font-weight: bold;
      border: 1px solid #41ADDD;
      color: #41ADDD;
      //text-decoration: underline;
    }
  }
}
