.question-name {
  //border: 1px solid #41ADDD;
  //border: 1px solid transparent;
  cursor: pointer;
  border-bottom: 1px solid #d9eaf3;
}
.question-name-view-only {
  //border: 1px solid transparent;
  border-bottom: 1px solid #d9eaf3;
}
.selected-question {
  //border: 1px solid #41ADDD;
  background-color: #f5f5f5;
}
