.app-wrapper {
  margin: 0 auto;
  min-height: 100%;
  padding: 10px 16px;

  .text-control {
    width: 90%;
    padding: 5px 0;
    margin: 5px 0;
  }

  #go_top {
    width: 38px;
    height: 38px;
    line-height: 37px;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 19px;
    right: 19px;
    z-index: 9999;
    border: 4px double #fff;
  }

}
